# .github/workflows/ci.yml
 
# Continuous Integration (CI) Workflow
name: ci
 
# This workflow will run whenever we push commits to the `main` branch, or
# whenever there's a pull request to the `main` branch, but ONLY when
# files in the fragments/ directory are changed
on:
  pull_request:
    branches:
      - main
    paths:
      - 'fragments/**'
  push:
    branches:
      - main
    paths:
      - 'fragments/**'
 
jobs:
  lint:
    # Give your job a name that will show up in the GitHub Actions web UI
    name: ESLint
    # We'll run this on a Linux (Ubuntu) VM, since we'll deploy on Linux too.
    runs-on: ubuntu-latest
    # We run these steps one after the other, and if any fail, we stop the process
    steps:
      # Check out code
      - name: Check out code
        uses: actions/checkout@v4
 
      # Setup node
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          # Use node LTS
          node-version: 'lts/*'
          # Cache npm dependencies so they don't have to be downloaded next time
          cache: 'npm'
          # Specify the cache dependency path for the fragments directory
          cache-dependency-path: fragments/package-lock.json
 
      # Change to fragments directory and install dependencies
      - name: Install node dependencies
        working-directory: ./fragments
        # Use `ci` vs. `install`
        run: npm ci
 
      # Run ESLint from fragments directory
      - name: Run ESLint
        working-directory: ./fragments
        run: npm run lint

    # Lint our Dockerfile using Hadolint
  dockerfile-lint:
    name: Dockerfile Lint
    runs-on: ubuntu-latest
    steps:
      # https://github.com/marketplace/actions/hadolint-action
      - uses: actions/checkout@v4
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
 

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
 
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: package-lock.json
 
      - name: Install root dependencies
        run: npm ci

      - name: Install node dependencies and run Tests
        working-directory: ./fragments
        run: npm install-ci-test